# Data
datasets/*
data/*
!datasets/README.md
!data/README.md

# Jupyter Notebook
.ipynb_checkpoints
.virtual_documents

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Other
backup/
twitter/private/
figures
